#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 90vh;

}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

h1 {
  font-size: 2rem;
}

.global_header:hover {
  cursor: pointer;
  opacity: 90%;
}

.mantine-InputWrapper-root {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.logger_box {
  padding-top: 1rem;
}

